services:
  web:
    build: .
    container_name: os_web
    ports:
      - "8080:80"
      - "443:443"
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: os_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: os
      MYSQL_USER: os_user
      MYSQL_PASSWORD: os_pass
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: os_phpmyadmin
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - db

volumes:
  db_data: