<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redireciona HTTP para HTTPS (caso acesse diretamente a pasta public)
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]
    
    # Define a base se necessário (geralmente automático)
    # RewriteBase /

    # Se não for um arquivo ou diretório real, envia para o index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
