<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Define a base se necessário (geralmente automático)
    # RewriteBase /

    # Se não for um arquivo ou diretório real, envia para o index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
